@import "vars";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  min-height: 100%;
}

#__next {
  height: 100%;
}

h1,
h2,
h3 {
  font-family: "Rochester", cursive;
  font-weight: 900;
}

h4,
h5,
h6 {
  font-weight: 400;
}

.full-wrapper {
  width: 100%;
  height: 100%;
  padding: 0.5em;
  background-image: $bg-texture;
  background-color: $bg-accent;
}

main {
  width: 100%;
  height: 100%;
  border: 4px dotted #fbfbfb;
}

.celebration-date {
  .day {
    .date-text-wrapper {
      width: 100px;
    }

    .dashed-value {
      border: 2px dotted;
      border-left: none;
      border-right: none;
    }

    .day-value {
      font-size: 3em;
    }
  }
}
